html, body {
    height: 100%;
    margin: 0;
}
::selection {
    background: #0900b6;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/montserrat/Montserrat-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/montserrat/Montserrat-Bold.otf") format("truetype");
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0900b6;
    border-radius: 5px;
}

body {
    font-family: "Montserrat-Bold", serif;
    color: white;
    background-image: url("../img/portfolioachtergrondV4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.taakbalk {
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: -75px;
    font-size: 10px;
    font-weight: normal;
}

.taakbalk li a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
}

.taakbalk li {
    display: inline;
    font-size: 35px;
}

.taakbalk .currentpage {
    color: #0900b6;
}

.pijltje {
    font-family: "Quicksand Light", sans-serif;
}

.hoofdtekst {
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: -30px;
    text-shadow: 5px 5px #0900b6;
}

.projectinfo {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 920px 850px 0.1fr;
    grid-template-rows: 130px 800px 1000px 280px 200px;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "text text ."
    "text2 text3 ."
    "text2 afbeelding2 ."
    "text2 afbeelding2 ."
    "text4 text5 ."
    "links links .";
    animation-name: block;
    animation-duration: 1s;
}

.text {
    grid-area: text;
}

.text2 {
    grid-area: text2;
}

.text3 {
    grid-area: text3;
}

.afbeelding2 {
    grid-area: afbeelding2;
}

.afbeelding3{
    grid-area: afbeelding3;
}

.text4 {
    grid-area: text4;
}

.text5 {
    grid-area: text5;
}

.links{
    grid-area: links;
    display: flex;
}

.text2 a{
    text-decoration: none;
    color: #0900b6;
}

.text3 a{
    text-decoration: none;
    color: #0900b6;
}

.afbeelding img {
    height: 250px;
    margin: 50px 100px 100px 100px;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgba(255, 255, 255, 0.5);
    grid-area: afbeelding;
}

.afbeelding2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.afbeelding2 img {
    height: 200px;
    margin: 0 100px 20px 50px;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgba(255, 255, 255, 0.5);
    grid-area: afbeelding2;
}

.text {
    margin-left: 100px;
    grid-area: text;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.text2 {
    margin-left: 100px;
    grid-area: text2;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.text3 {
    margin-top: 75px;
    margin-left: 100px;
    grid-area: text3;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.text4 {
    margin-left: 100px;
    grid-area: text4;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

h1 {
    font-family: "Montserrat-Bold", serif;
    font-size: 30px;
}

.text5 {
    margin-left: 100px;
    grid-area: text5;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.text2 img{
    height: 40px;
    width: auto;
}

@keyframes block {
    0% {
        margin-top: -75px;
    }
    100% {
        margin-top: 0px;
    }
}

.container {
    height: 100%;
}

.copyrightnote {
    margin-top: 60px;
    font-family: "Quicksand Light";
    font-size: 15px;
    color: white;
    text-align: center;
}

/*.dingetjes{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.download{*/
/*    transition: all .5s;*/
/*}*/

/*.download:hover{*/
/*    transform: translateY(30px);*/
/*    transition: all .5s;*/
/*}*/

/*.test{*/
/*    transition: all .5s;*/
/*}*/

/*.test:hover{*/
/*    transform: translateX(20px);*/
/*    transition: all .5s;*/
/*}*/

/*.github{*/
/*    transition: all .5s;*/
/*}*/

/*.github:hover{*/
/*    transform: translateY(-30px);*/
/*    transition: all .5s;*/
/*}*/

/*.download {*/
/*    font-size: 15px;*/
/*    height: 200px;*/
/*    margin-top: 200px;*/
/*    margin-left: 100px;*/
/*    grid-area: download;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/

/*.download a {*/
/*    font-size: 60px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    transform: translateY(-50px);*/
/*    transition: all .5s;*/
/*    grid-area: download;*/
/*}*/

/*.download a:hover {*/
/*    transform: translateY(-30px);*/
/*    transition: all .5s;*/
/*}*/

/*.testen{*/
/*    font-size: 15px;*/
/*    height: 200px;*/
/*    margin-top: 200px;*/
/*    margin-left: 100px;*/
/*    grid-area: testen;*/
/*    flex-direction: column;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.testen a{*/
/*    font-size: 90px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    transform: translateY(-86px);*/
/*    transition: all .5s;*/
/*    grid-area: testen;*/
/*}*/

/*.testen a:hover{*/
/*    transform: translateX(20px) translateY(-86px);*/
/*    transition: all .5s;*/
/*}*/

/*.github{*/
/*    font-size: 15px;*/
/*    height: 200px;*/
/*    margin-top: 200px;*/
/*    margin-left: 100px;*/
/*    grid-area: github;*/
/*    flex-direction: column;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.github a{*/
/*    font-size: 90px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    transition: all .5s;*/
/*    grid-area: testen;*/
/*}*/

/*.github img{*/
/*    height: 60px;*/
/*    width: auto;*/
/*}*/

/*.github a:hover{*/
/*    transform: translateY(-20px);*/
/*    transition: all .5s;*/
/*}*/