html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../img/portfolioachtergrondV3.png);
    font-family: "Poppins Black", serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inhoud {
    display: flex;
    flex: 1;
    align-items: center;
}

.vakken {
    list-style: none;
}

.vakken a {
    font-size: 70px;
    color: white;
    text-decoration: none;
    animation: movetext 2s;
    text-shadow: 2px 2px red;
    display: block;
}

.vakken a:hover {
    color: #ffdbea;
}

.copyrightnote{
    display: flex;
    justify-content: flex-end;
    font-family:"Poppins Black";
}

@keyframes movetext {
    0% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px) ;
    }
}

.logo{
    display: block;
}