html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Scream Real";
    src: url("../fonts/scream real/Scream Real.otf") format("truetype");
}

@font-face {
    font-family: "Quicksand Light";
    src: url("../fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}

body{
    background-image: url("../img/test5.png");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 10000px 0;
    }
}


.naam{
    font-family: "Scream Real";
    color: white;
    text-shadow: 10px 10px #0900b6;
    font-size: 100px;
    display: flex;
    justify-content: center;
    transition: 0.4s !important;
}

.naam:hover{
    color: white; /* zet hover kleur op zwart */
    text-decoration: none; /* alle standaard <a> text-decorations er af halen */
    text-shadow: 0 -1px 0 #FFF, /* een scherpe text-shadow in elke richting op sturen wat 2 pixels groot is voor de rand */
    4px -4px 0 #0900b6,
    4px 0 0 #0900b6,
    4px 4px 0 #0900b6,
    0 4px 0 #0900b6,
    -4px 4px 0 #0900b6,
    -4px 0 0 #0900b6,
    -4px -4px 0 #0900b6;
}

.naam p{
    margin: 0;
}

.leeruitkomsten{
    font-family: "Quicksand Light";
    color: white;
    list-style: none;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leeruitkomsten a {
    color: white;
    text-decoration: none;
    display: flex;
}

.leeruitkomsten a:hover i{
    transform: translateX(+25px);
    transition: all .6s;
}

.leeruitkomsten i{
    transform: translateX(+10px);
    transition: all .6s;
}

.container{
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.copyrightnote{
    font-family:"Quicksand Light";
    font-size: 15px;
    color: white;
    text-align: center;
}
