html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Poppins Black";
    src: url("../fonts/poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand Light";
    src: url("../fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.otf") format("truetype");
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0900b6;
    border-radius: 5px;
}


body {
    background-image: url("../img/portfolioachtergrondV4.png");
    font-family: "Poppins Black", serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taakbalk{
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: -75px;
    font-size: 10px;
    font-weight: normal;
}

.taakbalk li a {
    text-decoration: none;
    color: white;
    font-family: "Quicksand Light", sans-serif;
}

.taakbalk li{
    display: inline;
    font-size: 35px;
}

.taakbalk .currentpage{
    color: #0900b6;
}

.pijltje{
    font-family: "Quicksand Light", sans-serif;
}

.hoofdtekst {
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    margin-left: 100px;
    margin-top: -40px;
    text-shadow: 5px 5px #0900b6;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 100px 0px 100px;
    font-size: 30px;
    list-style: none;
}

.grid-container a{
    color: white;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 4;
    margin: 0;
    padding: 0;
    transition: all .5s;
}

.grid-container a:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 20px rgba(255,255,255,0.5);
}

.grid-container p{
    margin: 0;
}

.grid-container i{
    display: flex;
    justify-content: center;
    opacity: 50%;
    font-size: 75px;
    transition: all 1s;
}

.grid-container a:hover i{
    opacity: 100%;
    transition: all 1s;
}

.grid-container .interactivemedia{
    background: linear-gradient(60deg, #ff0000, #ff0091);
    height: 300px;
    border-radius: 20px;
    margin: 8px;
}

.grid-container .development{
    background: linear-gradient(60deg, #ff6600, #ffc100);
    height: 300px;
    border-radius: 20px;
    margin: 8px;
}

.grid-container .design{
    background: linear-gradient(60deg, #fd0,#FBB034);
    height: 300px;
    border-radius: 20px;
    margin: 8px;
}

.grid-container .research{
    background: linear-gradient(60deg, #44ff00, #2c6400);
    height: 300px;
    border-radius: 20px;
    margin: 8px;
}

.grid-container .communication{
    background: linear-gradient(60deg, #00e1ff, #0055ff);
    height: 300px;
    border-radius: 20px;
    margin: 8px;
}

.grid-container .professionalidentity{
    background: linear-gradient(60deg, #ff00d5, #bb00ff);
    height: 300px;
    border-radius: 20px;
    margin: 8px;
}

.container{
    height: 100%;
}

.copyrightnote{
    positiom: absolute;
    font-family:"Quicksand Light";
    font-size: 15px;
    color: white;
    text-align: center;
}
