html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Quicksand Light";
    src: url("../fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/montserrat/Montserrat-Bold.otf") format("truetype");
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0900b6;
    border-radius: 5px;
}

body {
    font-family: "Montserrat-Bold", serif;
    color: white;
    background-image: url("../img/portfolioachtergrondV4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.taakbalk {
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: -75px;
    font-size: 10px;
    font-weight: normal;
}

.taakbalk li a {
    text-decoration: none;
    color: white;
    font-family: "Quicksand Light", sans-serif;
}

.taakbalk li {
    display: inline;
    font-size: 35px;
}

.taakbalk .currentpage {
    color: #0900b6;
}

.pijltje {
    font-family: "Quicksand Light", sans-serif;
}

.hoofdtekst {
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: -30px;
    text-shadow: 5px 5px #0900b6;
}

.projectinfo {
    font-family: "Quicksand Light", sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 750px 850px;
    grid-template-rows: 200px 750px 135px 400px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "text text2 ."
    "afbeelding text2 ."
    "text4 text5 .";
    animation-name: block;
    animation-duration: 1s;
}

.text {
    grid-area: text;
}

.afbeelding {
    grid-area: afbeelding;
}

.text2 {
    grid-area: text2;
}

.text4 {
    grid-area: text4;
}

.text5 {
    grid-area: text5;
}


.afbeelding img {
    height: 680px;
    margin: 100px 100px 100px 100px;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgba(255, 255, 255, 0.5);
    grid-area: afbeelding;
}

.text {
    margin-left: 100px;
    grid-area: text;
    font-family: "Quicksand Light", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.text2 {
    margin-left: 100px;
    grid-area: text2;
    font-family: "Quicksand Light", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.text4 {
    margin-left: 100px;
    grid-area: text4;
    font-family: "Quicksand Light", sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

h1 {
    font-family: "Montserrat-Bold", serif;
    font-size: 30px;
}

.text5 {
    margin-left: 100px;
    grid-area: text5;
    font-family: "Quicksand Light", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.download {
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.download a {
    font-size: 60px;
    color: white;
    text-decoration: none;
    transform: translateY(-50px);
    transition: all .5s;
}

.download a:hover {
    transform: translateY(-30px);
    transition: all .5s;
}

@keyframes block {
    0% {
        margin-top: -75px;
    }
    100% {
        margin-top: 0px;
    }
}

.container {
    height: 100%;
}

.copyrightnote {
    positiom: absolute;
    font-family: "Quicksand Light";
    font-size: 15px;
    color: white;
    text-align: center;
}