html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Quicksand Light";
    src: url("../fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/montserrat/Montserrat-Bold.otf") format("truetype");
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0900b6;
    border-radius: 5px;
}

body {
    font-family: "Montserrat-Bold", serif;
    color: white;
    background-image: url("../img/portfolioachtergrondV4.png");
}

.taakbalk{
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: -75px;
    font-size: 10px;
    font-weight: normal;
}

.taakbalk li a {
    text-decoration: none;
    color: white;
    font-family: "Quicksand Light", sans-serif;
}

.taakbalk li{
    display: inline;
    font-size: 35px;
}

.taakbalk .currentpage{
    color: #0900b6;
}

.pijltje{
    font-family: "Quicksand Light", sans-serif;
}

.hoofdtekst {
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: -30px;
    text-shadow: 5px 5px #0900b6;
}

.container{
    height: 100%;
}

.copyrightnote{
    positiom: absolute;
    font-family:"Quicksand Light";
    font-size: 15px;
    color: white;
    text-align: center;
}